.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    justify-content: space-between;
}

.left-half {
    padding: 1rem;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }
    h4 {
        margin-top: 0rem;
        margin-bottom: 0.8rem;
    }
    p {
        margin-top: 0.5rem;
        line-height: 1.7rem;
        color: #696969;
    }
}

@media (max-width: 600px) {
    .left-half {
        max-width: 100%;
        h1 {
            font-size: 2.5rem;
        }
    }
    .right-half {
        width: 100%;
    }

    .container {
        padding: 1rem;
    }
}

.right-half {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.profile {
    max-width: 120px;
    border-radius: 500px;
    margin: 0 auto;
    height: 120px;
}

.img-container {
    display: flex;
    justify-content: center;
}

.profile-flavor {
    color: white;
    text-align: center;
    h3 {
        font-weight: 800;
    }
}

.twitch-container {
    padding: 0.5rem;
    background: radial-gradient(circle at 20% 20%, #f7f7f7 25%, #d4d4d4 100%);
    box-shadow: 0.25rem 0.25rem 1rem 0 rgba(100, 110, 140, 0.4);
    color: black;
    max-width: 50px;
    margin: 0 auto;
    border-radius: 3px;
    font-size: 1.3rem;
}

.twitch-container:hover {
    background: radial-gradient(circle at 20% 20%, #ffffff 25%, #dbdbdb 100%);
}

.skills {
    ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        font-size: 2rem;
        margin: 0;
        margin-bottom: 0.5rem;
    }
}

.contact {
    text-align: center;
    font-weight: 600;
    a:hover {
        color: blueviolet;
    }
}

.mob-deets {
    display: flex;
    margin-bottom: 0.5rem;
    div {
        padding: 0.8rem;
        font-size: 0.8rem;
        background: radial-gradient(
            circle at 20% 20%,
            #5183f5 25%,
            #4640ff 100%
        );
        border-radius: 8px;
        margin-right: 1rem;
        a {
            text-decoration: none;
            color: white;
            font-weight: 600;
        }
    }
}
