.container {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    justify-content: space-between;
    background-color: inherit;
    padding: 1rem;
    border-top: 1px solid white;
    box-shadow: 0 -1.25rem 1.75rem -1.25rem rgba(100, 110, 140, 0.4);
    z-index: 2;
    margin-top: 5vh;
}
