@import url("https://fonts.googleapis.com/css?family=Inter:400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Megrim&display=swap");

* {
    font-family: "Inter", "Segoe UI";
}

body {
    margin: 0;
}

p {
    font-weight: 400;
    text-justify: inter-word;
}

@media (max-width: 600px) {
    p {
        font-size: 0.9rem;
    }
}
